<h2>Latest Blog Posts</h2>
<ul>
  {{#each blogPosts}}
  <li>
    <h3>{{title}}</h3>
    <p>Posted by {{User.name}} on {{createdAt}}</p>
    <p>{{content}}</p>
    <a href="/blog/{{id}}">Read More</a>
  </li>
  {{else}}
  <li>No blog posts found.</li>
  {{/each}}
</ul>
